* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF9F2;
    color: #333;
    line-height: 1.6;
    gap: 64px;
  }

  header {
    background: linear-gradient(90deg, #D94D2B, #F9A13B);
    color: white;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  header h1 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  header p {
    margin: 1rem 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    display: inline-block;
    background-color: #F9A13B;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    gap: 32px;
  }

  .perfil {
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    gap: 2rem;
  }

  .perfil img {
    width: 260px;
    border-radius: 8px;
  }

  .perfil-info h2 {
    color: #D94D2B;
    font-size: 1.5rem;
  }

  .servico{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .servicos-head{
    display: flex;
    gap: 12px;
    width: 100%;
    flex-direction: row;
    font-weight: 800;
  }

  .servicos, .portfolio {
    margin-top: 2rem;
  }

  /* .servicos{
    width: 100px;
    height: 100px;
  } */

  .servicos h3, .portfolio h3 {
    color: #D94D2B;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
  }

  .grid-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    margin-bottom: 32px;
  }

  .grid-logos > div{
    background-color: #d94e2ba4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }

  .grid-logos > div > img{
    width: 100%;
    height: fit-content;
  }

  .servico, .portfolio-item {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }

  .servico-icon {
    background-color: #FFE8D9;
    /* padding: 0.5rem; */
    width: 40px !important;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    color: #D94D2B;
  }

  .portfolio-item img {
    height: 40px;
  }

  .contato {
    background-color: #fff6ed;
    padding: 40px 20px;
    text-align: center;
  }
  
  .contato h2 {
    color: #d3471d;
    margin-bottom: 10px;
  }
  
  .contato p {
    margin-bottom: 30px;
    color: #555;
  }
  
  .contato form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contato input,
  .contato textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    resize: vertical;
  }
  
  .contato button {
    background-color: #f28500;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .contato button:hover {
    background-color: #d96c00;
  }
  

  @media (max-width: 600px) {
    header h1 {
      font-size: 1.4rem;
    }

    .perfil {
      flex-direction: column;
      text-align: center;
    }

    .perfil-info h2 {
      font-size: 1.2rem;
    }
  }

  